{% extends 'base.html' %}

{% block title %}
    My Posts
{% endblock %}

{% block content %}
<div class="row container my-5 mx-auto">
    {% if data %}
        <div class="col-md-12 mb-3">
            <h3>My Posts: {{data | length}}</h3>
        </div>
    {% else %}
        <div class="col-md-12 mb-3">
            <h3>No Posts Found</h3>
        </div>
    {% endif %}
    {% for post in data %}
        <div class="col-md-4 mb-3 mb-sm-0">
            <div class="card">
                {% if post.image %}
                    <img src="{{post.image.url}}" class="card-img-top" alt="{{post.title}}" style="height: 230px; object-fit: cover;">
                {% else %}
                    <div class="d-flex align-items-center justify-content-center rounded-top" style="height: 230px; background-color: lightgray;">
                        <p>No Image Found</p>
                    </div>
                {% endif %}
                
                <div class="card-body">
                    <h5 class="card-title" style="height: 50px; overflow: hidden;">
                        <a href="{% url 'post_details' post.id %}">{{post.title}}</a>
                    </h5>
                    <p class="card-text" style="height: 120px; overflow: hidden;">{{post.text | truncatewords:30}}</p>
                    <p>Author : {{post.author.first_name}} {{post.author.last_name}}</p>
                    <p style="height: 25px; overflow: hidden;">
                        Category : 
                        {% for category in post.categories.all %}
                            <span class="badge text-bg-secondary">{{category.name}}</span>
                        {% endfor %}

                    </p>
                    <a href="{% url 'edit_post' post.id %}" class="btn btn-warning">Edit</a>
                    <a href="{% url 'delete_post' post.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}