{% extends 'base.html' %}

{% block content %}
<div class="row container my-5 mx-auto">
    {% for post in data %}
        <div class="col-md-4 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="height: 50px; overflow: hidden;">{{post.title}}</h5>
                    <p class="card-text" style="height: 170px; overflow: hidden;">{{post.text}} ...</p>
                    <p>Author : {{post.author}}</p>
                    <p>
                        Category : 
                        {% for category in post.categories.all %}
                            <span class="badge text-bg-secondary">{{category.name}}</span>
                        {% endfor %}

                    </p>
                    <a href="{% url 'edit_post' post.id %}" class="btn btn-warning">Edit</a>
                    <a href="{% url 'delete_post' post.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}